body {
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Knockout';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Knockout-27JuniorBantamWeight.otf");
  src: url("../fonts/Knockout-27JuniorBantamwt.eot?#iefix") format('embedded-opentype'), url("../fonts/Knockout-27JuniorBantamwt.woff") format('woff'), url("../fonts/Knockout-27JuniorBantamwt.ttf") format('truetype');
}
@font-face {
  font-family: "Helvetica Neue Ltd";
  src: url("../fonts/HelveticaNeue-Light.otf");
}
.futura,
section.content .main-image .main-title p,
section.trending-posts h2,
section.trending-posts article p.category,
section.recent-reviews h2,
section.recent-reviews .recent-main .cat-heading,
section.recent-blog-posts h2,
section.stay-in-touch span,
section.social-media h3,
.container section.content .main-image .main-title p,
.container section.trending-posts h2,
.container section.trending-posts article p.category,
.container section.recent-reviews h2,
.container section.recent-reviews .recent-main .cat-heading,
.container .last-col section.recent-blog-posts h2,
.container .last-col section.stay-in-touch span,
.container .last-col section.social-media h3 {
  font-family: 'Futura';
  letter-spacing: 2.5px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.desktop-nav {
  display: none;
}
.mobile {
  display: none;
}
@media screen and (min-width: 992px) {
  aside {
    float: left;
    height: 3268px;
    width: 159px;
    background-color: #77adb7;
    display: none;
    position: relative;
    font-family: "Open Sans";
    padding-right: 26px;
    padding-left: 26px;
    color: #fff;
  }
  aside ul li {
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.3px;
  }
  aside .close-btn {
    text-align: right;
    padding-top: 24px;
  }
  aside .social-icons {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  aside .social-icons ul li {
    display: inline;
  }
  aside .aside-menu h4 {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  aside .aside-menu #home-heading {
    padding-bottom: 18px;
  }
  aside .aside-menu #dating-heading {
    padding-top: 61px;
    padding-bottom: 25px;
  }
  aside .aside-menu #automation-heading {
    padding-top: 61px;
    padding-bottom: 25px;
  }
  aside .aside-menu #subboxes-heading {
    padding-top: 51px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 599px) {
  header {
    height: 65px;
    border-bottom: 1px solid #f2f2f2;
  }
  header .borderTop {
    background-color: #ddd;
    height: 3px;
    width: 100%;
    margin-bottom: 8px;
  }
  header .header-logo {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 42px;
    width: 86px;
    float: left;
  }
  header .header-logo img {
    height: 100%;
    width: 100%;
  }
  header .mobile-menu {
    float: right;
  }
  header .mobile-menu .hamburger {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 26px;
    width: 18px;
    cursor: pointer;
    float: right;
  }
  header .mobile-menu .hamburger img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  header {
    height: 65px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f8f8f8;
  }
  header .borderTop {
    background-color: #ddd;
    height: 3px;
    width: 100%;
    margin-bottom: 8px;
  }
  header .header-logo {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 100px;
    float: left;
  }
  header .header-logo img {
    height: 100%;
    width: 100%;
  }
  header .mobile-menu {
    float: right;
  }
  header .mobile-menu #search {
    background: url("../img/magnifying.png");
    background-size: 16px 15px;
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
    margin-right: 10px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
  }
  header .mobile-menu .hamburger {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 26px;
    width: 18px;
    cursor: pointer;
    float: right;
  }
  header .mobile-menu .hamburger img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  header .header-logo {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 42px;
    width: 86px;
    display: none;
  }
  header .header-logo img {
    height: 100%;
    width: 100%;
  }
  header .mobile-menu {
    float: right;
    display: none;
  }
  header .mobile-menu .hamburger {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 26px;
    width: 18px;
    cursor: pointer;
    float: right;
  }
  header .mobile-menu .hamburger img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  section.content {
    border-top: 1px solid #e0e0e0;
  }
  section.content .main-image {
    background: url("../img/main-image.png");
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e0e0e0;
  }
  section.content .main-image .main-title {
    padding-top: 67px;
    padding-left: 20px;
    width: 200px;
    font-family: 'Knockout', sans-serif;
    color: #fff;
  }
  section.content .main-image .main-title p {
    font-size: 11px;
    letter-spacing: 1.5px;
    padding-bottom: 12px;
  }
  section.content .main-image .main-title h1 {
    font-size: 40px;
    line-height: 35px;
  }
  section.content .main-image .main-title .desktop {
    display: none;
  }
  section.content .main-image .main-title .mobile {
    display: block;
  }
  section.content .main-image .main-title a {
    text-decoration: none;
    color: #fff;
  }
  section.trending-posts {
    padding-left: 13px;
    padding-right: 13px;
  }
  section.trending-posts h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
  }
  section.trending-posts article {
    margin-bottom: 20px;
    box-sizing: content-box;
    width: calc(100% - 20px);
    padding-left: 20px;
  }
  section.trending-posts article p {
    color: #fff;
  }
  section.trending-posts article p.category {
    font-size: 11px;
    padding-top: 128px;
  }
  section.trending-posts article h2.title {
    font-family: 'Palatino';
    padding-top: 13px;
    text-align: left;
    color: #fff;
    font-size: 25px;
    line-height: 29px;
    max-width: 210px;
  }
  section.trending-posts article .read-more-trending {
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  section.trending-posts article:last-child {
    margin-bottom: 0px;
  }
  section.trending-posts article.article1 {
    background: url("../img/img2.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article2 {
    background: url("../img/img3.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article2 h2 {
    max-width: initial;
  }
  section.trending-posts article.article3 {
    background: url("../img/img4.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article4 {
    background: url("../img/img5.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article5 {
    background: url("../img/img6.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.recent-reviews {
    padding-bottom: 38px;
  }
  section.recent-reviews h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    border-bottom: 2px solid #b8b8b8;
    font-size: 11px;
  }
  section.recent-reviews .recent-main {
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 34px;
    padding-bottom: 39px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-reviews .recent-main article h3 {
    clear: both;
    padding-top: 0px;
    font-family: "Georgia";
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 21px;
    text-decoration: underline;
    color: #2f2f2f;
  }
  section.recent-reviews .recent-main article p {
    font-family: "Open Sans";
    color: #9f9f9f;
    font-size: 16px;
    text-align: center;
  }
  section.recent-reviews .recent-main article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
  }
  section.recent-reviews .recent-main .cat-heading {
    font-size: 11px;
  }
  section.recent-reviews .recent-main span {
    color: #da4f1f;
    padding-bottom: 46px;
  }
  section.recent-reviews .recent-main .tiny-logo {
    float: right;
  }
  section.recent-blog-posts h2 {
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-blog-posts article {
    padding-left: 17px;
    padding-right: 17px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-blog-posts article .article1 {
    margin-top: 26px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  section.recent-blog-posts article .article2 {
    margin-top: 26px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  section.recent-blog-posts article .article3 {
    margin-top: 26px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  section.recent-blog-posts article .article4 {
    margin-top: 26px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  section.recent-blog-posts article h3 {
    margin-top: 30px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 20px;
  }
  section.recent-blog-posts article p {
    font-family: "Open Sans";
    text-align: center;
    color: #9f9f9f;
    font-size: 16px;
  }
  section.recent-blog-posts article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
    margin-bottom: 30px;
  }
  section.stay-in-touch {
    padding-top: 44px;
    padding-left: 48px;
    padding-bottom: 31px;
    text-align: center;
    width: calc(100% - 96px);
  }
  section.stay-in-touch span {
    color: #da4f1f;
    font-size: 12px;
    display: block;
    padding-bottom: 20px;
  }
  section.stay-in-touch input[type=text],
  section.stay-in-touch input[type=email] {
    width: 100%;
    border: 1px solid #c2c2c2;
    margin-bottom: 10px;
    text-align: center;
    height: 33px;
    font-family: "Open Sans";
    font-size: 14.84px;
  }
  section.stay-in-touch input[type=submit] {
    width: 127px;
    height: 37px;
    background-color: #5ca3c4;
    border: 0px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14.84px;
    letter-spacing: 1px;
  }
  section.social-media {
    border-top: 2px solid #b8b8b8;
    padding-left: 35px;
    padding-bottom: 47px;
  }
  section.social-media h3 {
    margin-top: 37px;
    color: #da4f1f;
    font-size: 12px;
    text-align: center;
    padding-bottom: 34px;
  }
  section.social-media .post {
    clear: both;
    width: calc(100% - 70px);
  }
  section.social-media .post .social-icon {
    float: left;
    width: 38px;
  }
  section.social-media .post .post-content {
    float: left;
    width: calc(100% - 51px);
    padding-left: 13px;
  }
  section.social-footer {
    border-top: 2px solid #b8b8b8;
    position: relative;
  }
  section.social-footer ul {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -82px;
  }
  section.social-footer ul li {
    display: inline;
  }
  footer {
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 35px;
    width: calc(100% - 70px);
  }
  footer table {
    font-family: "Open Sans";
    font-size: 11px;
    color: #c0c0c0;
  }
  footer table th {
    font-weight: 600;
    color: #494949;
    text-align: left;
  }
  footer table td {
    text-align: left;
  }
  footer table th:last-child,
  footer table td:last-child {
    padding-left: 26px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  section.content {
    border-top: 1px solid #e0e0e0;
  }
  section.content .main-image {
    background: url("../img/feature-image-t.png");
    background-position: 0px 0px;
    height: 559px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e0e0e0;
  }
  section.content .main-image .main-title {
    padding-top: 123px;
    padding-left: 20px;
    max-width: 678px;
    font-family: 'Knockout', sans-serif;
    color: #fff;
  }
  section.content .main-image .main-title p {
    font-size: 11px;
    letter-spacing: 1.5px;
    padding-bottom: 12px;
  }
  section.content .main-image .main-title h1 {
    font-size: 116px;
    line-height: 91px;
  }
  section.content .main-image .main-title a {
    text-decoration: none;
    color: #fff;
  }
  section.trending-posts {
    padding-left: 13px;
    padding-right: 13px;
  }
  section.trending-posts h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
  }
  section.trending-posts article {
    margin-bottom: 20px;
    box-sizing: content-box;
    padding-left: 20px;
    width: calc(50% - 33px);
    float: left;
  }
  section.trending-posts article p {
    color: #fff;
  }
  section.trending-posts article p.category {
    font-size: 11px;
    padding-top: 128px;
  }
  section.trending-posts article h2.title {
    font-family: 'Palatino';
    padding-top: 13px;
    text-align: left;
    color: #fff;
    font-size: 25px;
    line-height: 29px;
    max-width: 210px;
  }
  section.trending-posts article .read-more-trending {
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  section.trending-posts article:nth-child(2) {
    margin-right: 20px;
  }
  section.trending-posts article:nth-child(4) {
    width: calc(100% - 24px);
    margin-right: 0px;
  }
  section.trending-posts article:nth-child(5) {
    margin-right: 20px;
  }
  section.trending-posts article:last-child {
    margin-bottom: 0px;
  }
  section.trending-posts article.article1 {
    background: url("../img/img2.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article2 {
    background: url("../img/img3.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article2 h2 {
    max-width: initial;
  }
  section.trending-posts article.article3 {
    background: url("../img/img4.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article4 {
    background: url("../img/img5.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.trending-posts article.article5 {
    background: url("../img/img6.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.recent-reviews {
    clear: both;
    padding-bottom: 38px;
  }
  section.recent-reviews h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    border-bottom: 2px solid #b8b8b8;
    font-size: 11px;
  }
  section.recent-reviews .recent-main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 34px;
    padding-bottom: 39px;
    width: 50%;
    float: left;
    height: 373px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-reviews .recent-main article h3 {
    clear: both;
    padding-top: 0px;
    font-family: "Georgia";
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 21px;
    text-decoration: underline;
    color: #2f2f2f;
  }
  section.recent-reviews .recent-main article p {
    font-family: "Open Sans";
    color: #9f9f9f;
    font-size: 16px;
    text-align: center;
  }
  section.recent-reviews .recent-main article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
  }
  section.recent-reviews .recent-main .cat-heading {
    font-size: 11px;
  }
  section.recent-reviews .recent-main span {
    color: #da4f1f;
    padding-bottom: 46px;
  }
  section.recent-reviews .recent-main .tiny-logo {
    float: right;
  }
  section.recent-blog-posts {
    clear: both;
  }
  section.recent-blog-posts h2 {
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-blog-posts article {
    padding-left: 17px;
    padding-right: 17px;
    border-bottom: 2px solid #b8b8b8;
  }
  section.recent-blog-posts article .article1 {
    margin-top: 0px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 147px;
    width: 50%;
    float: left;
  }
  section.recent-blog-posts article .article2 {
    margin-top: 0px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 147px;
    width: 50%;
    float: left;
  }
  section.recent-blog-posts article .article3 {
    margin-top: 0px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 147px;
    width: 50%;
    float: left;
  }
  section.recent-blog-posts article .article4 {
    margin-top: 0px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 147px;
    width: 50%;
    float: left;
  }
  section.recent-blog-posts article h3 {
    margin-top: 30px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 20px;
  }
  section.recent-blog-posts article p {
    font-family: "Open Sans";
    text-align: center;
    color: #9f9f9f;
    font-size: 16px;
  }
  section.recent-blog-posts article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
    margin-bottom: 30px;
  }
  section.stay-in-touch {
    padding-top: 44px;
    padding-left: 0px;
    padding-bottom: 31px;
    text-align: center;
    width: 50%;
    float: left;
  }
  section.stay-in-touch span {
    color: #da4f1f;
    font-size: 12px;
    display: block;
    padding-bottom: 20px;
  }
  section.stay-in-touch input[type=text],
  section.stay-in-touch input[type=email] {
    width: 100%;
    border: 1px solid #c2c2c2;
    margin-bottom: 10px;
    text-align: center;
    height: 33px;
    font-family: "Open Sans";
    font-size: 14.84px;
  }
  section.stay-in-touch input[type=submit] {
    width: 127px;
    height: 37px;
    background-color: #5ca3c4;
    border: 0px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14.84px;
    letter-spacing: 1px;
  }
  section.social-media {
    border-top: 2px solid #b8b8b8;
    padding-left: 0px;
    padding-bottom: 47px;
    float: left;
    width: 50%;
  }
  section.social-media h3 {
    margin-top: 37px;
    color: #da4f1f;
    font-size: 12px;
    text-align: center;
    padding-bottom: 34px;
  }
  section.social-media .post {
    clear: both;
    width: calc(100% - 70px);
  }
  section.social-media .post .social-icon {
    float: left;
    width: 38px;
  }
  section.social-media .post .post-content {
    float: left;
    width: calc(100% - 51px);
    padding-left: 13px;
  }
  section.social-footer {
    border-top: 2px solid #b8b8b8;
  }
  section.social-footer ul li {
    display: inline;
  }
  footer {
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 35px;
    width: calc(100% - 70px);
  }
  footer table {
    font-family: "Open Sans";
    font-size: 11px;
    color: #c0c0c0;
  }
  footer table th {
    font-weight: 600;
    color: #494949;
    text-align: left;
  }
  footer table td {
    text-align: left;
  }
  footer table th:last-child,
  footer table td:last-child {
    padding-left: 26px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
  .container section.content .main-image {
    background: url("../img/feature-image-t.png");
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e0e0e0;
    height: 696px;
  }
  .container section.content .main-image .desktop-nav {
    margin: 0 auto;
    width: calc(100% - 10px);
    max-width: 950px;
    display: block;
    padding-top: 32px;
    padding-left: 10px;
    color: #fff;
  }
  .container section.content .main-image .desktop-nav .review-top #hamburger-desktop {
    cursor: pointer;
  }
  .container section.content .main-image .desktop-nav .review-top .col-i,
  .container section.content .main-image .desktop-nav .review-top .col-ii,
  .container section.content .main-image .desktop-nav .review-top .col-iii {
    float: left;
  }
  .container section.content .main-image .desktop-nav .review-top .col-i div,
  .container section.content .main-image .desktop-nav .review-top .col-ii div,
  .container section.content .main-image .desktop-nav .review-top .col-iii div {
    float: left;
  }
  .container section.content .main-image .desktop-nav .review-top .col-i div .hamburger,
  .container section.content .main-image .desktop-nav .review-top .col-ii div .hamburger,
  .container section.content .main-image .desktop-nav .review-top .col-iii div .hamburger {
    float: left;
  }
  .container section.content .main-image .desktop-nav .review-top .col-i {
    padding-top: 30px;
    width: calc(42.8% - 10px);
    max-width: 411px;
  }
  .container section.content .main-image .desktop-nav .review-top .col-i .menu-text {
    padding-left: 10px;
    font-family: 'Helvetica Neue Ltd';
    letter-spacing: 2.5px;
    font-size: 12px;
  }
  .container section.content .main-image .desktop-nav .review-top .col-ii {
    width: 14.375%;
    max-width: 138px;
  }
  .container section.content .main-image .desktop-nav .review-top .col-iii {
    padding-top: 30px;
    width: calc(41.667% - 10px);
    max-width: 400px;
    text-align: right;
  }
  .container section.content .main-image .desktop-nav .review-top .col-iii #searchbox {
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  .container section.content .main-image .desktop-nav .review-top .col-iii input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #cfd3d3;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans";
    width: 158px;
    padding-bottom: 7px;
  }
  .container section.content .main-image .desktop-nav .review-top .col-iii ::-webkit-input-placeholder {
    color: #b8bcba;
  }
  .container section.content .main-image .desktop-nav .review-date {
    clear: both;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 20.8px;
  }
  .container section.content .main-image .desktop-nav .review-date #date {
    float: left;
    width: 57.2%;
    max-width: 549px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container section.content .main-image .desktop-nav .review-date .slogan {
    float: left;
    padding-top: 10px;
    text-align: right;
    max-width: 400px;
    width: 41.667%;
  }
  .container section.content .main-image .desktop-nav .review-menu {
    clear: both;
    border-top: 1px solid #cfd3d3;
    border-bottom: 1px solid #cfd3d3;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .container section.content .main-image .desktop-nav .review-menu ul li {
    font-family: 'Helvetica Neue Ltd';
    color: #fff;
    -webkit-font-smoothing: auto;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 2px;
    display: inline-block;
    padding-right: 30px;
    cursor: pointer;
  }
  .container section.content .main-image .desktop-nav .review-menu ul li:last-child {
    padding-right: 0;
  }
  .container section.content .main-image .main-title {
    padding-top: 130px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Knockout', sans-serif;
    color: #fff;
  }
  .container section.content .main-image .main-title p {
    font-size: 11px;
    letter-spacing: 1.5px;
    padding-bottom: 12px;
    font-weight: 800;
  }
  .container section.content .main-image .main-title .category {
    display: none;
  }
  .container section.content .main-image .main-title h1 {
    font-size: 115px;
    line-height: 90px;
  }
  .container section.content .main-image .main-title .desktop {
    max-width: 672px;
  }
  .container section.content .main-image .main-title a {
    text-decoration: none;
    color: #fff;
  }
  .container section.trending-posts {
    padding-left: 13px;
    padding-right: 13px;
    max-width: 960px;
    width: calc(100% - 46px);
    margin: 0 auto;
  }
  .container section.trending-posts h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
  }
  .container section.trending-posts article {
    margin-bottom: 20px;
    box-sizing: content-box;
    width: calc(50% - 36px);
    max-width: 440px;
    float: left;
    padding-left: 20px;
  }
  .container section.trending-posts article p {
    color: #fff;
  }
  .container section.trending-posts article p.category {
    font-size: 11px;
    padding-top: 128px;
  }
  .container section.trending-posts article h2.title {
    font-family: 'Palatino';
    padding-top: 13px;
    text-align: left;
    color: #fff;
    font-size: 25px;
    line-height: 29px;
    max-width: 210px;
  }
  .container section.trending-posts article .read-more-trending {
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  .container section.trending-posts article:nth-child(2) {
    margin-right: 20px;
  }
  .container section.trending-posts article:nth-child(4) {
    width: 30%;
  }
  .container section.trending-posts article:nth-child(5) {
    width: 30%;
  }
  .container section.trending-posts article:last-child {
    margin-bottom: 0px;
    width: 30%;
  }
  .container section.trending-posts article.article1 {
    background: url("../img/img2.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container section.trending-posts article.article2 {
    background: url("../img/img3.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container section.trending-posts article.article2 h2 {
    max-width: initial;
  }
  .container section.trending-posts article.article3 {
    background: url("../img/img4.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container section.trending-posts article.article4 {
    background: url("../img/img5.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container section.trending-posts article.article5 {
    background: url("../img/img6.png");
    height: 362px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container section.recent-reviews {
    clear: both;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 38px;
  }
  .container section.recent-reviews h2 {
    padding-top: 38px;
    text-align: center;
    padding-bottom: 34px;
    border-bottom: 2px solid #b8b8b8;
    font-size: 11px;
  }
  .container section.recent-reviews .recent-main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 34px;
    padding-bottom: 39px;
    width: 33%;
    float: left;
    height: 250px;
    border-bottom: 2px solid #b8b8b8;
  }
  .container section.recent-reviews .recent-main article h3 {
    clear: both;
    padding-top: 0px;
    font-family: "Georgia";
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 21px;
    text-decoration: underline;
    color: #2f2f2f;
  }
  .container section.recent-reviews .recent-main article p {
    font-family: "Open Sans";
    color: #9f9f9f;
    font-size: 16px;
    text-align: center;
  }
  .container section.recent-reviews .recent-main article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
  }
  .container section.recent-reviews .recent-main .cat-heading {
    font-size: 11px;
  }
  .container section.recent-reviews .recent-main span {
    color: #da4f1f;
    padding-bottom: 46px;
  }
  .container section.recent-reviews .recent-main .tiny-logo {
    float: right;
  }
  .container .last-col {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  .container .last-col section.recent-blog-posts {
    clear: both;
    width: 66.3%;
    float: left;
  }
  .container .last-col section.recent-blog-posts h2 {
    text-align: center;
    padding-bottom: 34px;
    font-size: 11px;
    border-bottom: 2px solid #b8b8b8;
  }
  .container .last-col section.recent-blog-posts article {
    padding-left: 17px;
    padding-right: 17px;
    border-bottom: 2px solid #b8b8b8;
  }
  .container .last-col section.recent-blog-posts article .article1 {
    margin-top: 26px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  .container .last-col section.recent-blog-posts article .article2 {
    margin-top: 26px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  .container .last-col section.recent-blog-posts article .article3 {
    margin-top: 26px;
    background-image: url("../img/blogposts1.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  .container .last-col section.recent-blog-posts article .article4 {
    margin-top: 26px;
    background-image: url("../img/blogposts2.png");
    background-size: cover;
    height: 147px;
    width: 100%;
  }
  .container .last-col section.recent-blog-posts article h3 {
    margin-top: 30px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 20px;
  }
  .container .last-col section.recent-blog-posts article p {
    font-family: "Open Sans";
    text-align: center;
    color: #9f9f9f;
    font-size: 16px;
  }
  .container .last-col section.recent-blog-posts article .read-more-link {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
    margin-bottom: 30px;
  }
  .container .last-col section.stay-in-touch {
    padding-top: 44px;
    padding-bottom: 31px;
    text-align: center;
    float: left;
    background-color: #f9f9f9;
  }
  .container .last-col section.stay-in-touch span {
    color: #da4f1f;
    font-size: 12px;
    display: block;
    padding-bottom: 20px;
  }
  .container .last-col section.stay-in-touch input[type=text],
  .container .last-col section.stay-in-touch input[type=email] {
    width: 100%;
    border: 1px solid #c2c2c2;
    margin-bottom: 10px;
    text-align: center;
    height: 33px;
    font-family: "Open Sans";
    font-size: 14.84px;
  }
  .container .last-col section.stay-in-touch input[type=submit] {
    width: 127px;
    height: 37px;
    background-color: #5ca3c4;
    border: 0px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14.84px;
    letter-spacing: 1px;
  }
  .container .last-col section.social-media {
    border-top: 2px solid #b8b8b8;
    padding-bottom: 47px;
    float: left;
    width: 33%;
  }
  .container .last-col section.social-media h3 {
    margin-top: 37px;
    color: #da4f1f;
    font-size: 12px;
    text-align: center;
    padding-bottom: 34px;
  }
  .container .last-col section.social-media .post {
    clear: both;
    width: calc(100% - 70px);
  }
  .container .last-col section.social-media .post .social-icon {
    float: left;
    width: 38px;
  }
  .container .last-col section.social-media .post .post-content {
    float: left;
    width: calc(100% - 51px);
    padding-left: 13px;
  }
  .container .last-col section.social-footer {
    clear: both;
    border-top: 2px solid #b8b8b8;
    position: relative;
  }
  .container .last-col section.social-footer ul li {
    display: inline;
  }
  .container footer {
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 35px;
    width: calc(100% - 35px);
    max-width: 960px;
    margin: 0 auto;
  }
  .container footer table {
    font-family: "Open Sans";
    font-size: 11px;
    color: #c0c0c0;
  }
  .container footer table th {
    font-weight: 600;
    color: #494949;
    text-align: left;
  }
  .container footer table td {
    text-align: left;
  }
  .container footer table th:last-child,
  .container footer table td:last-child {
    padding-left: 26px;
  }
  .sidebar-active {
    width: calc(100% - 211px);
    float: left;
  }
}
[class^=arr-] {
/* Arrows @RCB */
  border: solid currentColor;
  border-width: 0 0.05em 0.05em 0;
  display: inline-block;
  padding: 0.25em;
  color: #fff;
  float: right;
  position: relative;
  top: 5px;
  left: 6px;
}
.arr-right {
  transform: rotate(-45deg);
}
.arr-left {
  transform: rotate(135deg);
}
.arr-up {
  transform: rotate(-135deg);
}
.arr-down {
  transform: rotate(45deg);
}
/*
	Queries
	Small Size: 0px to 599px (Portrait)
	Tablet: 600px to 991px (Tablet)
	Desktop:992px + (Desktop)
*/
