@media screen and (min-width:992px)
	aside
		float:left
		height:3470px
		width:159px
		background-color:#77adb7
		position:relative
		font-family:"Open Sans"
		padding-right:26px
		padding-left:26px
		color:white
		
		ul
			li
				font-size:13px
				line-height:26px
				letter-spacing:0.3px
		
		.close-btn
			text-align:right
			padding-top:24px
		
		.social-icons
			padding-top:20px
			padding-bottom:50px
			ul
				li 
					display:inline
		
		.aside-menu
			h4
				font-size:13px
				font-weight:700
				letter-spacing:2.0px
				
				
			#home-heading
				padding-bottom:18px
			#dating-heading
				padding-top:61px
				padding-bottom:25px
			#automation-heading
				padding-top:61px
				padding-bottom:25px
			#subboxes-heading
				padding-top:51px
				padding-bottom:25px