@media screen and (min-width:992px)


	.container
		width:100%
		section.content
			.main-image
				background:url('../img/feature-image-t.png')
				height:250px
				width:100%
				background-repeat:no-repeat
				background-size:cover
				border-bottom:1px solid #e0e0e0
				height:696px 
				
				.desktop-nav
					margin:0 auto
					width:100%
					max-width:960px
					display:block
					padding-top:22px
					padding-left:10px
					color:white 
					
					.review-top
						#hamburger-desktop
							cursor:pointer
						.col-i, .col-ii, .col-iii
							float:left
							div
								float:left
								

								.hamburger
									float:left
						.col-i
							
							padding-top:30px
							width:42.8%
							max-width:411px
							.menu-text
								padding-left:10px
								font-family:helvetica
								letter-spacing:2.5px 
								font-size:12px
							 
						.col-ii
							width:14.375%
							max-width:138px
						.col-iii
							padding-top:30px
							width:42.667%
							text-align:right
							
							#searchbox
								cursor:pointer
								margin-right:10px
								position:relative
								top:2px

							input
								border:none
								background:transparent
								border-bottom:1px solid #cfd3d3
								outline:none
								color:white
								font-size:12px
								font-family:"Open Sans"
								width:158px
								padding-bottom:7px

							::-webkit-input-placeholder
								color:#b8bcba
								
								
				
					.review-date
						clear:both
						font-family:"Georgia"
						font-size:13px
						line-height:20.8px
						#date
							float:left
							width:57.2%
							max-width:549px
							padding-top:5px					
							padding-bottom:10px

						.slogan
							float:left
							padding-top:5px
							text-align:right
							width:42.667%

					.review-menu
						clear:both
						border-top:1px solid #cfd3d3
						border-bottom:1px solid #cfd3d3
						text-align:center
						padding-top:16px
						padding-bottom:15px
						position:relative
						ul 
							li 
								font-family:helvetica
								color:white
								-webkit-font-smoothing:auto
								font-size:11px
								line-height:21px
								letter-spacing:2.0px
								display:inline-block
								padding-right:30px
								cursor:pointer
								
								ul
									display:none
									background-color:#fff
									position:absolute
									text-align:left
									padding-top:35px
									padding-left:33px
									padding-bottom:39px
									width:165px
									top:52px
									box-shadow:0px 16px 16px rgba(0,0,0,0.26)
								    
									li 
										display:block
										color:#878787
										margin-bottom:8px

							li:last-child
								padding-right:0	

				.main-title
					padding-top:130px
					width:100%
					max-width:960px
					margin:0 auto
					font-family:knockout
					color:white
					
					p 
						@extend .futura
						font-size:13px
						letter-spacing:1.5px
						padding-bottom:12px
						font-weight:900
						padding-left:10px
						padding-top:24px
					
					.category 
						display:none

					h1
						font-size:115px
						line-height:90px
						
					.desktop
						max-width:672px
						
					a
						text-decoration:none
						color:white
					
		section.trending-posts
			padding-left:13px
			padding-right:13px
			max-width:960px
			width:calc(100% - 46px)
			margin:0 auto
			
			h2
				padding-top:38px
				text-align:left
				padding-bottom:18px
				@extend .futura
				font-size:11px
				font-weight:600
			
			article
				margin-bottom:20px
				box-sizing:content-box
				width:calc(50% - 30px)
				max-width:440px
				float:left
				padding-left:20px

				p
					color:white
				
				p.category
					@extend .futura
					font-weight:700
					font-size:11px
					padding-top:142px
				    color:#da4f1f
				
				h2.title
					font-family:Georgia
					font-style:italic
					font-weight:500
					letter-spacing:1px
					padding-top:13px
					text-align:left
					color:white
					font-size:25px
					line-height:29px
					
				.read-more-trending
					font-family:'Open Sans'
					font-size:10px
					font-weight:700
					letter-spacing:2.0px
			
			article:nth-child(2)
				margin-right:20px

			article:nth-child(4)
				width:30%
				max-width:280px
				margin-right:20px
				
			article:nth-child(5)
				width:30%
				max-width:280px
				margin-right:20px

			article:last-child
				margin-bottom:0px
				width:30%
				max-width:280px

			article.article1
				background:url('../img/image1.png')
				height:362px
				background-size:cover
				background-repeat:no-repeat
			
			article.article2
				background:url('../img/image2.png')
				height:362px
				background-size:cover
				background-repeat:no-repeat
				
				h2
					max-width:initial 
			
			article.article3
				background:url('../img/img4.png')
				height:362px
				background-size:cover
				background-repeat:no-repeat
			
			article.article4
				background:url('../img/img5.png')
				height:362px
				background-size:cover
				background-repeat:no-repeat
				
			article.article5
				background:url('../img/img6.png')
				height:362px
				background-size:cover
				background-repeat:no-repeat

		section.recent-reviews
			clear:both
			width:calc(100% - 40px)
			max-width:960px
			margin:0 auto

			h2
				padding-top:38px
				text-align:left
				padding-bottom:18px
				@extend .futura
				font-size:11px
				font-weight:600

			.recent-main 
				padding-left:0px
				padding-right:0px
				width:33%
				float:left
				position:relative
				
				article 
					border-top:1px solid #e7e7e7
					border-right:1px solid #e7e7e7
					height:247px
					padding-left:15px
					padding-right:15px
					h3
						clear:both
						padding-top:0px
						font-family: "Georgia"
						font-style:italic
						font-size:20px
						line-height:22px
						text-align:left
						padding-bottom:0px
						text-decoration:none
						color:#2f2f2f
						
					h3:hover
						text-decoration:underline
						cursor:pointer
						
					p 
						font-family:"Open Sans"
						color:#9f9f9f
						padding-top:10px
						font-size:13.5px
						line-height:18px
						text-align:left
						
					.read-more-link
						margin-top:9px
						font-family:"Open Sans"
						font-size:9.5px
						line-height:7px
						letter-spacing:2.0px
						color:black
						font-weight:700
						
				.cat-heading
					padding-top:52px
					@extend .futura
					font-size:10px
					display:block
					font-weight:600
					color:#da4f1f
					padding-bottom:15px

				span 
					color:#da4f1f
					padding-bottom:46px
					
				.tiny-logo 
					float:right
					position:absolute
					right:21px
					top:21px

			.recent-main:nth-child(4)
				article
					border-right:0px
					
			.recent-main:nth-child(7)
				article
					border-right:0px
					

			.recent-main:nth-child(5),.recent-main:nth-child(6),.recent-main:nth-child(7)
				article
					border-bottom:1px solid #e7e7e7
			
			padding-bottom:38px

		.last-col
			margin:0 auto
			width:100%
			max-width:960px

			section.recent-blog-posts
				clear:both
				width:66.3%
				float:left
				padding-top:60px

				h2
					text-align:left
					@extend .futura
					font-size:11px
					font-weight:600
					position:relative
					top:0px
					margin-bottom:20px
					
				article 
					border:1px solid #e7e7e7
					border-bottom:none
					padding-left:30px
					height:255px
					max-width:640px

					div 
						float:left

					.article1
						margin-top:51px
						margin-right:30px
						background-image:url('../img/blogposts1.png')
						background-size:cover
						height:153px
						width:202px
						
					.article2
						margin-top:51px
						margin-right:30px
						background-image:url('../img/blogposts2.png')
						background-size:cover
						height:153px
						width:202px
						
					.article3
						margin-top:51px
						margin-right:30px
						background-image:url('../img/blogposts1.png')
						background-size:cover
						height:153px
						width:202px
						
						
					.article4
						margin-top:51px
						margin-right:30px
						background-image:url('../img/blogposts2.png')
						background-size:cover
						height:153px
						width:202px
					
					.cat-heading 
						margin-top:51px
						@extend .futura
						font-size:9px
						display:block
						color:#da4f1f
						font-weight:600
						margin-bottom:15px

					h3

						font-size:22px
						line-height:26px
						text-align:left
						width:calc(100% - 40px)
						
					p 
						padding-top:13px
						font-family:"Open Sans"
						text-align:left
						color:#9f9f9f
						font-size:14px
						line-height:18px
						width:calc(100% - 40px)
						
					.read-more-link
						font-family:"Open Sans"
						font-size:10px
						letter-spacing:2.0px
						color:black
						font-weight:700
						margin-bottom:30px
						width:calc(100% - 40px)

				article:last-child
					border-bottom:1px solid #e7e7e7

			section.stay-in-touch
				padding-top:44px
				text-align:left
				float:left
				background-color:#f9f9f9
				border:1px solid #e7e7e7
				border-bottom:none
				border-left:none
				border-bottom:none
				margin-top:91px
				width:20.625%
				max-width:198px
				padding-left:60px
				padding-right:60px
				height:211px
				
				span 
					color:#da4f1f
					@extend .futura
					font-size:10px
					letter-spacing:2px
					font-weight:700
					display:block
					

				input[type=text], input[type=email]
					width:calc(100% - 10px)
					border:1px solid #c2c2c2
					margin-bottom:10px
					text-align:left
					height:33px
					font-family:"Open Sans"
					font-size:14.84px	
					font-weight:200
					padding-left:10px
				
				input[type=submit]
					width:127px
					height:37px
					background-color:#5ca3c4
					border:0px
					color:white
					letter-spacing:1.2px
					font-size:9.84px
					font-family:"Open Sans"
					font-weight:700
					
					
			section.social-media 
				border:1px solid #e7e7e7
				border-left:none
				padding-bottom:47px
				padding-left:39px
				float:left
				width:calc(34% - 47px)
				max-width:318px
				height:720px

				h3 
					margin-top:37px
					color:#da4f1f
					@extend .futura
					font-size:10px
					letter-spacing:2px
					font-weight:700
					text-align:left
					padding-bottom:34px
				
				.post
					clear:both
					width:calc(100% - 39px)
					
								
					.social-icon
						float:left
						width:38px
						
					.post-content
						float:left
						font-family:"Open Sans"
						font-size:14.5px
						line-height:19px
						width:calc(100% - 51px)
						padding-left:13px
						margin-bottom:25px
						
						h4
							margin-top:-10px
							font-family:"Futura"
							font-size:8px
							letter-spacing:2.0px
							
						.facebook
							color:#8fb9d4
						
						.twitter
							color:#df91ba
						
			section.social-footer
				clear:both
				position:relative
				.s-i
					width:calc(36.7% - 47px)
					padding-top:48px
					max-width:353px
					padding-left:47px
					height:229px
					float:left
					
					.review-logo-black
						background:url('../img/rw-black.png')
						height:83px
						width:165px

				.s-ii
					float:left
					width:30.104%
					padding-top:81px
					max-width:282px
					height:229px
					ul
						li 
							display:inline
			
		footer 
			float:left
			margin:0 auto
			padding-top:47px
			width:33%
			max-width:325px
			table 
				border-collapse:collapse
				font-family:"Open Sans"
				font-size:13px
				color:#c0c0c0
				th 
					font-weight:700
					color:#494949
					text-align:left
					padding-bottom:25px
				td 
					text-align:left
					color:#747474
					line-height:19px

				th:last-child, td:last-child
					padding-left:50px
	.sidebar-active
		width: calc(100% - 211px)
		float:left