@media screen and (max-width:599px)
		
	section.content
		border-top:1px solid #e0e0e0
		
		.main-image
			background:url('../img/main-image.png')
			height:250px
			width:100%
			background-repeat:no-repeat
			background-size:cover
			border-bottom:1px solid #e0e0e0

			.main-title
				padding-top:67px
				padding-left:20px
				width:200px
				font-family:knockout
				color:white
				
				p 
					@extend .futura
					font-size:11px
					letter-spacing:1.5px
					padding-bottom:12px
				
				h1
					font-size:40px
					line-height:35px
					
				.desktop 
					display:none

				.mobile
					display:block
					
				a
					text-decoration:none
					color:white
				

	section.trending-posts
		padding-left:13px
		padding-right:13px
		
		h2
			padding-top:38px
			text-align:center
			padding-bottom:34px
			@extend .futura
			font-size:11px
		
		article
			margin-bottom:20px
			box-sizing:content-box
			width:calc(100% - 20px)	
			padding-left:20px
			p
				color:white
			
			p.category
				@extend .futura
				font-size:11px
				padding-top:128px
			
			h2.title
				font-family:'Palatino'
				padding-top:13px
				text-align:left
				color:white
				font-size:25px
				line-height:29px
				max-width:210px
				
			.read-more-trending
				font-family:'Open Sans'
				font-size:10px
				font-weight:800
				letter-spacing:2.0px
			
		article:last-child
			margin-bottom:0px

		article.article1
			background:url('../img/img2.png')
			height:362px
			background-size:cover
			background-repeat:no-repeat
		
		article.article2
			background:url('../img/img3.png')
			height:362px
			background-size:cover
			background-repeat:no-repeat
			
			h2
				max-width:initial 
		
		article.article3
			background:url('../img/img4.png')
			height:362px
			background-size:cover
			background-repeat:no-repeat
		
		article.article4
			background:url('../img/img5.png')
			height:362px
			background-size:cover
			background-repeat:no-repeat
			
		article.article5
			background:url('../img/img6.png')
			height:362px
			background-size:cover
			background-repeat:no-repeat

	section.recent-reviews
		
		h2
			padding-top:38px
			text-align:center
			padding-bottom:34px
			border-bottom:2px solid #b8b8b8
			@extend .futura
			font-size:11px

		.recent-main 
			padding-left:39px
			padding-right:39px
			padding-top:34px
			padding-bottom:39px
			
			article 
				h3
					clear:both
					padding-top:0px
					font-family: "Georgia"
					font-style:italic
					font-size:20px
					line-height:28px
					text-align:center
					padding-bottom:21px
					text-decoration:underline
					color:#2f2f2f
					
				p 
					font-family:"Open Sans"
					color:#9f9f9f
					font-size:16px
					text-align:center
					
				.read-more-link
					margin-top:22px
					font-family:"Open Sans"
					font-size:10px
					letter-spacing:2.0px
					color:black
					font-weight:800
					
			border-bottom:2px solid #b8b8b8
			
			.cat-heading
				@extend .futura
				font-size:11px

			span 
				color:#da4f1f
				padding-bottom:46px
				
			.tiny-logo 
				float:right
	
		
		padding-bottom:38px

	section.recent-blog-posts


		h2
			
			text-align:center
			padding-bottom:34px
			@extend .futura
			font-size:11px
			border-bottom:2px solid #b8b8b8	
		article 
			padding-left:17px
			padding-right:17px
			.article1
				margin-top:26px
				background-image:url('../img/blogposts1.png')
				background-size:cover
				height:147px
				width:100%
				
			.article2
				margin-top:26px
				background-image:url('../img/blogposts2.png')
				background-size:cover
				height:147px
				width:100%
				
			.article3
				margin-top:26px
				background-image:url('../img/blogposts1.png')
				background-size:cover
				height:147px
				width:100%
				
			.article4
				margin-top:26px
				background-image:url('../img/blogposts2.png')
				background-size:cover
				height:147px
				width:100%
				
			h3
				margin-top:30px
				font-size:22px
				line-height:26px
				text-align:center
				padding-bottom:20px
				
			p 
				font-family:"Open Sans"
				text-align:center
				color:#9f9f9f
				font-size:16px
				
			.read-more-link
				margin-top:22px
				font-family:"Open Sans"
				font-size:10px
				letter-spacing:2.0px
				color:black
				font-weight:800
				margin-bottom:30px

			border-bottom:2px solid #b8b8b8
	
	section.stay-in-touch
		padding-top:44px
		padding-left:48px
		padding-bottom:31px
		text-align:center
		width:calc(100% - 96px)
		
		span 
			color:#da4f1f
			@extend .futura
			font-size:12px
			display:block
			padding-bottom:20px
			
		input[type=text], input[type=email]
			width:100%
			border:1px solid #c2c2c2
			margin-bottom:10px
			text-align:center
			height:33px
			font-family:"Open Sans"
			font-size:14.84px	
		
		input[type=submit]
			width:127px
			height:37px
			background-color:#5ca3c4
			border:0px
			color:white
			font-family:"Open Sans"
			font-size:14.84px
			letter-spacing:1.0px

	section.social-media 
		border-top:2px solid #b8b8b8
		padding-left:35px
		padding-bottom:47px

		h3 
			margin-top:37px
			color:#da4f1f
			@extend .futura
			font-size:12px
			text-align:center
			padding-bottom:34px
		
		.post
			clear:both
			width:calc(100% - 70px)
						
			.social-icon
				float:left
				width:38px
				
			.post-content
				float:left
				width:calc(100% - 51px)
				padding-left:13px
				
	section.social-footer
		border-top:2px solid #b8b8b8
		position:relative
		
		ul
			position:absolute
			top:-20px
			left:50%
			margin-left:-82px
			li 
				display:inline
	
	footer 
		padding-top:45px
		padding-left:35px
		padding-bottom:35px
		width:calc(100% - 70px)
		
		table 
			font-family:"Open Sans"
			font-size:11px
			color:#c0c0c0
			th 
				font-weight:600
				color:#494949
				text-align:left
			td 
				text-align:left

			th:last-child, td:last-child
				padding-left:26px
