body 
	-webkit-font-smoothing: antialiased;
	
@font-face 
	font-family:'Knockout'
	font-style: normal
	font-weight:400
	src: url('../fonts/Knockout-27JuniorBantamWeight.otf')
	src: url('../fonts/Knockout-27JuniorBantamwt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Knockout-27JuniorBantamwt.woff') format('woff'),
         url('../fonts/Knockout-27JuniorBantamwt.ttf') format('truetype')

@font-face
	font-family:"Helvetica Neue Ltd"
	src: url('../fonts/HelveticaNeue-Light.otf')

helvetica = 'Helvetica Neue Ltd'
knockout = 'Knockout', sans-serif
futura = 'Futura' 

.futura 
	font-family: futura
	letter-spacing:2.5px



