@media screen and (max-width:599px)
	
	header
		height:65px
		border-bottom:1px solid #f2f2f2
		.borderTop
			background-color:#ddd
			height:3px
			width:100%
			margin-bottom:8px
		.header-logo
			padding-left:10px
			margin-bottom:10px
			height:42px
			width:86px
			img 
				height:100% 
				width:100%
			float:left

		.mobile-menu
			float:right
			#search 
				background:url(../img/magnifying.png)
				background-size:16px 15px
				background-repeat:no-repeat
				height:25px
				width:27px
				margin-right:10px
				margin-top:15px
				float:left
				cursor:pointer
			
			#hamburger-tablet
				display:none
			
			#hamburger-mobile
				display:block

			.hamburger
				border-left:1px solid #ccc
				padding-left:20px
				padding-right:20px
				padding-top:9px
				padding-bottom:9px
				height:26px
				width:18px
				cursor:pointer
				float:right
				img
					height:100%
					width:100%
					
		#searchbar
			display:none
			clear:both
			padding-left:46px
			padding-right:46px
			width:calc(100% - 92px)
			position:relative
			top:-6px
			background:white
			height:50px
			
			#search-tablet
				outline:none
				width:100%
				border:none
				height:45px
				font-family:"Open Sans"
				color:#d1d1d1
				font-size:16.21px
				line-height:30.57px