@import 'font' 
@import "reset"
@import "base"
@import "aside-d"
@import "aside-t"
@import "header-m"
@import "header-t"
@import "header-d"
@import "content-m" 
@import "content-t"
@import "content-d"
@import "shapes"
/*
	Queries
	Small Size: 0px to 599px (Portrait)
	Tablet: 600px to 991px (Tablet)
	Desktop:992px + (Desktop)
*/

